body{
    font-family: 'Exo 2', sans-serif,verdana, sans-serif!important;
}
.section-content{
    text-align: left;
    margin: 8px 0 9px;
    line-height: 20px;
    padding: 0 3px;
}

.addOrg label{
    font-weight: bold;
}

.addOrg{
    padding: 20px 0 20px 0;
}

.addOrg input{
    margin: 5px 0 5px 0;
}

form{
    padding: 20px;
}

form input, form label, form select{
    margin: 5px;
    width: 100%;
}
form button{
    margin: 10px;
    float: right;
}

form label{
    font-weight: bold;
}